include  layout

block content
    a.btn.btn-primary(href = "/main") Main Page
    a.btn.btn-primary(href = "/user") User Page
    a.btn.btn-primary(href = "/ban") Go to bans
    h1 ADMIN PAGE

    - var values = users;
    ul
        each val in values.length ? values : ['There are no values']
            li= val

include logout