include layout

block content
    a.btn.btn-primary(href = "/upload") UPLOAD PHOTO

block content
     if role === "user"
         a.btn.btn-primary(href = "/user") USER
     else
         a.btn.btn-primary(href = "/user") USER
         a.btn.btn-primary(href = "/admin") ADMIN

include logout



