include layout
    block content
        h1 Wrong format, photo have to be jpeg
        a.btn.btn-primary(href = "/upload") Upload page
        a.btn.btn-primary(href = "/user") User Page

include logout